body{
    margin: 0;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgba(250, 140, 182) , yellow);
    font-family: 'Open Sans', sans-serif;
    color: white;
}

header{
    height: 54px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
}

header>div {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    max-width: 740px;
}
header>div div {
    display: flex;
    align-items: center;
}

header>div h1 {
    font-size: 13pt;
    margin-left: 5px;
}
header>div nav {
   display: none;
   margin-right: 55px;
}
header>div nav a, header>div nav span {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 30px;
    font-size: 12pt;
}
header>div nav span {
    width: 1px;
    height: 10px;
    background-color: white;
    font-weight: none; 
}

header img{
    height: 26px;
}
#hamburguer {
    height: 17px;
}




section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding: 0 25px;
}
section p:first-child {
    font-size: 34pt;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
}
section p:nth-child(2) {
    font-size: 13pt;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    margin-bottom: 35px;
}

button {
    width: 300px;
    height: 45px;
    background-color: rgb(43, 185, 43);
    border-radius: 20px;
    border: 2px solid rgb(43, 185, 43);
    color: white;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px 30px;
}

.icones {
    height: 50px;
}

footer{
    display: flex;
    background-color: black;
    
}

footer img{
    width: 50px;
}

footer a {
 display: flex;
text-decoration: none;
color: white    ;

}

footer h2{
    
color: gray;

}

 li {
    list-style: none;
    flex-direction: column;

    
}
@media screen and (min-width:740px) {
    section p:first-child {
        font-size: 48pt
    }
}
@media screen and (min-width:990px){
    header {
        height: 80px;
        background-color: rgba(0, 0, 0, 0.65);
    }
    header>div {
        max-width: 990px;
        width: 100%;
        padding: 0 27px;
    }
    header>div div h1 {
        font-size: 18pt;
    }
    #hamburguer {
        display: none;
    }
    header>div nav {
        display: block;
    }
    header img{
        height: 40px;
    }
    section {
        margin-top: 80px;
        height: 90vh;
    }
    section p:first-child {
        font-size: 55pt;
    }
}
@media screen and (min-width:1200px) {
    header>div {
        max-width: 1200px;
    }
}